.footer-container {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 50px;
}

.footer-div {
    width: 30% ;
}

.footer-title {
    font-size: 3vw;
    font-weight: 500;
}

.footer-logo {
    width: 80%;
}

.footer-link:hover {
    color: red;
}

@media screen and (min-width:992px) {
    
    .footer-title {
        font-size: 2.2vw;
    }

    .footer-logo {
        width: 50%;
    }
    
}